
$colour-red: #be2126;
$colour-pink: #f06881;
$colour-purple: #5e62ab;
$colour-orange: #f26f21;
$colour-green: #3a9e47;
$colour-blue: #3B5998;
$colour-blue-basket: #1B75BB;

$colour-header-purple: #232541;
$colour-footertop-grey: #333332;
$colour-footerbottom-grey: #222222;
$colour-bottom-grey: #222222;

.colour-red {
	color: $colour-red;
}

.colour-pink {
	color: $colour-pink;
}

.colour-purple {
	color: $colour-purple;
}

.colour-orange {
	color: $colour-orange;
}

.colour-green {
	color: $colour-green;
}

.colour-blue {
	color: $colour-blue;
}