nav#main {
	float: right;
	font-family: 'Quicksand', sans-serif;
	margin: 0 auto;	

	@media screen and (max-width: 780px) {
		display: none;
	}

	ul.menu-header {
		height: 60px;
		list-style: none;
		margin: 0px auto;
		text-align: right;

		li.nav-basket {
			height: 50px;
			vertical-align: bottom;
			width: 50px;
			a {
				padding: 0px;
				text-align: center;

				img {
					width: 23px;
					vertical-align: middle;
				}
			}
		}

		li a:hover {
			transition: background-color 0.5s ease;
			text-decoration: none;
		}
		li.nav-red {
			background-color: $colour-red;
			:hover {
				background-color: darken($colour-red, 10%);
			}
		}
		li.nav-pink {
			background-color: $colour-pink;
			:hover {
				background-color: darken($colour-pink, 10%);
			}
		}
		li.nav-purple {
			background-color: $colour-purple;
			:hover {
				background-color: darken($colour-purple, 10%);
			}
		}
		li.nav-orange {
			background-color: $colour-orange;
			:hover {
				background-color: darken($colour-orange, 10%);
			}
		}
		li.nav-green {
			background-color: $colour-green;
			:hover {
				background-color: darken($colour-green, 10%);
			}
		}
		li.nav-blue {
			background-color: $colour-blue;
			:hover {
				background-color: darken($colour-blue, 10%);
			}
		}

		li.nav-blue-basket {
			background-color: $colour-blue-basket;
			:hover {
				background-color: darken($colour-blue-basket, 10%);
			}
		}


		li {
			display: inline-block;
			margin-right: 15px;

			@media screen and (max-width: 1000px) {
				margin-right: 5px;
			}
		}

		.lt-ie8 li {
			*display: inline;
			zoom: 1;
		}

		li a {
			color: #fff;
			display: block;
			font-size: 16px;
			font-size: 1.6rem;
			font-weight: bold;
			line-height: 50px;
			padding: 0px 20px;
			text-decoration: none;
			text-transform: uppercase;

			@media screen and (max-width: 1000px) {
				padding: 0px 10px;
			}
		}
	}

	ul.menu-header li:hover > ul {
	    display: block;
	    visibility:visible;
		opacity:1;
		transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}

	ul.menu-header .sub-menu {
	    display: none;
	    position: absolute;
	    z-index: 99999;
	    padding: 0;
	    margin: 0;
	}

	ul.menu-header .sub-menu li { 
		border-bottom: 1px solid #fff;
		background-color: #000;
	    display: block;
	    text-align: center;
	    width: 300px;
	}

	ul.menu-header .sub-menu li a:link{
		display: block;
		font-size: 2.5rem;
		font-size: 25px;
	    line-height: 50px;
	    
	}

	.current-page-parent , .current-page-item , .current_page_item, .current-menu-item, .current-menu-parent {
		
	}

	ul.fixed-sub-menu {
		background: #fff;
		margin: 0px auto;
		width: 100%;
		min-height: 30px;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			text-align: left;

			a:link, a:visited {
				color: #fff;
				
				font-weight: 400 !important;
				text-shadow: 0 0 5px rgba(0,0,0,0.4);
				padding: 0px 10px;
				line-height: 30px;
				display: block;
			}	
		}

		li:hover {
			background-color: #000;
		}

	}

	li.nav-basket > ul {
		display: none;
		visibility:hidden;
		opacity:0;
		transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	}

	ul.navigation-basket {
		background-color: darken($colour-blue-basket , 10%)!important;
		margin: 0px 0px 0px -350px;
		padding: 10px;
		min-width: 350px;
		max-width: 500px;
		display: block;
		position: relative;
		z-index: 5;

		-webkit-box-shadow: 4px 8px 5px 0px rgba(0,0,0,0.26);
		-moz-box-shadow: 4px 8px 5px 0px rgba(0,0,0,0.26);
		box-shadow: 4px 8px 5px 0px rgba(0,0,0,0.26);

		:hover {
				background-color: $colour-blue-basket !important;
		}

		li {
			font-family: 'Open Sans';
			background-color: darken($colour-blue-basket,10%) !important;
			border-bottom: 1px solid $colour-blue-basket;
			color: #fff;
			float: right;
			font-size: 16px;
			font-size: 1.6rem;
			margin: 0px;
			padding: 10px 5%;
			width: 50%;

			:hover {
				background-color: darken($colour-blue-basket,10%)!important;
			}
		}

		li.nav-blue-basket:hover {
			background-color: darken($colour-blue-basket,10%)!important;
		}

		li.no-underline {
			font-family: 'Quicksand';
			border-bottom: 0px !important;
		}

		.nav-basket-image {
			float: left;
			width: 30%;

			:hover {
				background-color: darken($colour-blue-basket,10%)!important;
			}
		}

		img {
			width: 100%;
			display: block;
		}
		
		a.view-basket:hover {
			background-color: $colour-blue-basket !important;
		}

	}

	ul.navigation-basket:hover {
		background-color: darken($colour-blue-basket , 10%)!important;
	}

	ul.menu-header li:hover > a{
		background-color: darken($colour-blue-basket , 10%)!important;
	}
	

}